<div class="ui container" style="padding-top: 20px;">
  <div class="ui form">
    <div class="inline fields">
      <div style="margin: 0 auto;width: 100%;" matRipple>
        <div class="sixteen wide field" style="padding: 0">
          <input type="text" placeholder="موضوع پیام" />
        </div>
      </div>
    </div>
    <div class="one fields">
      <div class="sixteen wide field">
        <label>پیام</label>
        <textarea cols="30" rows="10" placeholder="پیام"></textarea>
      </div>
    </div>
    <div class="sixteen wide column" style="padding-top: 20px;">
      <div matRipple class="ui primary button" (click)="onSend()">
        ارسال پیام
      </div>
    </div>
  </div>
  <h3 class="ui horizontal divider header">
    توجه!
  </h3>
  <div class="sixteen wide column" style="text-align: center;">
    پیام شما پس از ارسال و بررسی پاسخ داده خواهد شد.
  </div>
</div>
