// S - farsi toast
.icon.toast .content {
  padding-left: 0;
  padding-right: 1em;
}

.icon.toast > .icon:not(.close) {
  position: inherit;
}

// E - farsi toast

.ui.button {
  background-color: #7febc3 !important;
}

.ui.button:hover {
  background-color: #4bb893 !important;
}

.ui.fluid.dropdown {
  text-align: right;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;

  .item {
    text-align: right;
  }
}
.ui.menu:not(.vertical) .right.item,
.ui.menu:not(.vertical) .right.menu {
  margin-left: 0 !important;
  margin-right: auto !important;
  width: 100%;
}
