<div class="ui container">
  <img src="/assets/icons/icon-192x192.png" alt="Medicalc" />
  <div class="select-container">
    <span>تخصص خود را انتخاب کنید</span>
    <select [(ngModel)]="selectedSpecialtyId" class="ui fluid dropdown">
      <option value="null" selected>بدون تخصص</option>
      <option *ngFor="let spec of specliaties$ | async" [value]="spec.id">{{
        spec.name
      }}</option>
    </select>
  </div>
  <div style="margin-top: 15px">
    <button
      style="width: 100px; margin: 0"
      matRipple
      class="ui large button primary-bg"
      (click)="onConfirm()"
    >
      تایید
    </button>
  </div>
</div>
