<div class="ui item">
  <a matRipple (click)="onBack()" class="backward"
    ><i class="arrow right icon"></i
  ></a>
  <span class="back-title">{{ title$ | async }}</span>
</div>
<div *ngIf="isShowInfoIcon" style="display: flex; margin-right: auto;">
  <a class="favorite"
    ><i
      (click)="onFavorite()"
      matRipple
      [ngClass]="
        (isFavorite | async) ? 'yellow star icon' : 'star outline icon'
      "
    ></i
  ></a>
  <div class="info">
    <a style="display: flex" *ngIf="!(isInfo | async)"
      ><i
        (click)="onInfo()"
        matRipple
        class="exclamation circle icon"
        style="border-radius: 25px;"
      ></i
    ></a>
  </div>
</div>
