<!-- DEMO -->
<!-- <div [formGroup]="form">
  <div *ngFor="let select of formula.form.selects">
    <span>{{ select.title }}</span>
    <select [formControlName]="select.name">
      <option *ngFor="let option of select.options" [value]="option.value">{{
        option.viewValue
      }}</option>
    </select>
  </div>
  <div *ngFor="let input of formula.form.inputs">
    <span>{{ input.title }}</span>
    <input [formControlName]="input.name" type="number" />
    <button *ngIf="convertableTypes.includes(input.type)" (click)="onConvert(input)">
      تبدیل
    </button>
  </div>
</div> -->
<div [formGroup]="form">
  <div style="padding-top: 20px;">
    <div *ngFor="let select of formula.form.selects">
      <div class="sixteen wide column">
        <div class="ui form">
          <div class="inline fields">
            <div class="sixteen wide field">
              <div class="ui grid"
                   style="width: 100%">
                <div class="sixteen wide row">
                  <div class="six wide right floated column"
                       style="padding-top: 10px;">
                    <label>
                      {{ select.title }}
                      <!-- <span *ngIf="select.unit != ''">({{ select.unit }})</span> -->
                    </label>
                  </div>
                  <div class="ten wide left floated column">
                    <select [formControlName]="select.name"
                            class="ui dropdown">
                      <option *ngFor="let option of select.options"
                              [value]="option.value">{{ option.viewValue }}
                      </option>

                    </select>
                  </div>
                </div>
                <div class="sixteen wide column"
                     style="text-align: left;">
                  <div>
                    {{ select.hint }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
      </div>
    </div>
    <div *ngFor="let input of formula.form.inputs">
      <div class="sixteen wide column">
        <div class="ui form">
          <div class="inline fields">
            <div class="sixteen wide field">
              <div class="ui grid"
                   style="width: 100%">
                <div class="sixteen wide row">
                  <div class="ten wide right floated column"
                       style="padding-top: 10px;">
                    <label>
                      {{ input.title
                          }}<span *ngIf="
                              isDefaultUnitInput[input.name].isDefault;
                              else secondary
                            ">({{
                              Units[isDefaultUnitInput[input.name].type]?.default
                                | unitFa
                            }})</span>
                      <ng-template #secondary>
                        <span>({{
                                Units[isDefaultUnitInput[input.name].type]?.secondary
                                  | unitFa
                              }})</span>
                      </ng-template>
                    </label>
                    <button *ngIf="convertableTypes.includes(input.type)"
                            (click)="onConvert(input)"
                            class="ui secondary button"
                            style="margin-right: 5px;padding-top: 3px;padding-bottom: 3px;">
                      <i class="icon exchange"
                         style="margin: 0;"></i>
                    </button>
                  </div>
                  <div class="six wide left floated column">
                    <div class="ui input">
                      <input [formControlName]="input.name"
                             type="number"
                             placeholder="{{ input.title }}" />
                    </div>
                  </div>
                </div>
                <div class="sixteen wide column"
                     style="text-align: left;">
                  <div *ngIf="input.hint">
                    <a class="ui circular icon right">
                      <i #tooltip="matTooltip"
                         [matTooltip]="input.hint"
                         matTooltipPosition="after"
                         class="question circle outline icon"
                         (click)="tooltip.toggle()"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
      </div>
    </div>
  </div>
</div>
