<div class="ui continer">
  <div class="ui row">
    <div class="ui card">
      <div class="content">
        <div class="ui internally celled grid">
          <div class="four wide column">
            <i id="profile-pic" class="user icon"></i>
          </div>
          <div class="twelve wide column">
            محمدحسین سعادت
          </div>
        </div>
      </div>
      <div class="content">
        <span class="left floated">
          {{ 'تخصص شما: ' + (userSpecialty$ | async)?.name }}
          <a (click)="sidenav.close()" routerLink="/settings"
            ><i class="edit icon"></i
          ></a>
        </span>
      </div>
    </div>
  </div>
  <div class="ui row">
    <div (click)="closeSidenav()" routerLink="/settings" class="ui segment">
      <a>
        <i class="cog icon"></i>
        تنظیمات
      </a>
    </div>
    <div (click)="closeSidenav()" routerLink="/contact-us" class="ui segment">
      <a>
        <i class="phone icon"></i>
        تماس با ما
      </a>
    </div>
    <div (click)="closeSidenav()" routerLink="/help" class="ui segment">
      <a>
        <i class="question circle icon"></i>
        راهنما
      </a>
    </div>
    <div (click)="closeSidenav()" routerLink="/about-us" class="ui segment">
      <a>
        <i class="first aid icon"></i>
        درباره ما
      </a>
    </div>
  </div>
</div>
