<div class="search-container animated slideInDown">
  <div class="searchbar-container">
    <a class="backward" (click)="hideSearchBar()"
      ><i class="arrow right icon"></i
    ></a>
    <div class="left menu animated fadeIn" id="searchbar">
      <div class="ui right aligned category search item">
        <div class="ui transparent icon input">
          <input
            class="prompt"
            type="search"
            placeholder="به دنبال فرمول خود بگرد"
            (keyup.enter)="search($event)"
          />
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="ui middle aligned list">
      <div class="item" style="padding-top: 10px;">
        <div class="header">
          <i class="history icon"></i>
          اخیر
        </div>
        <div class="ui middle aligned celled list">
          <div class="item">
            <div class="left floated content">
              <i class="star outline icon"></i>
            </div>
            <div class="middle aligned content">
              <div class="header">
                Formula Name
              </div>
              <div class="desc">
                Formula Description
              </div>
            </div>
          </div>
          <div class="item">
            <div class="left floated content">
              <i class="star outline icon"></i>
            </div>
            <div class="middle aligned content">
              <div class="header">
                Formula Name
              </div>
              <div class="desc">
                Formula Description
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="padding-top: 10px;">
        <div class="header">
          <i class="star icon"></i>
          علاقه‌مندی
        </div>
        <div class="ui middle aligned celled list">
          <div class="item">
            <div class="left floated content">
              <i class="star outline icon"></i>
            </div>
            <div class="middle aligned content">
              <div class="header">
                Formula Name
              </div>
              <div class="desc">
                Formula Description
              </div>
            </div>
          </div>
          <div class="item">
            <div class="left floated content">
              <i class="star outline icon"></i>
            </div>
            <div class="middle aligned content">
              <div class="header">
                Formula Name
              </div>
              <div class="desc">
                Formula Description
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="padding-top: 10px;">
        <div class="header">
          <i class="stethoscope icon"></i>
          تخصص
        </div>
        <div class="ui middle aligned celled list">
          <div class="item">
            <div class="left floated content">
              <i class="star outline icon"></i>
            </div>
            <div class="middle aligned content">
              <div class="header">
                Formula Name
              </div>
              <div class="desc">
                Formula Description
              </div>
            </div>
          </div>
          <div class="item">
            <div class="left floated content">
              <i class="star outline icon"></i>
            </div>
            <div class="middle aligned content">
              <div class="header">
                Formula Name
              </div>
              <div class="desc">
                Formula Description
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="padding-top: 10px;">
        <div class="header">
          <i class="cubes icon"></i>
          دیگر
        </div>
        <div class="ui middle aligned celled list">
          <div class="item">
            <div class="left floated content">
              <i class="star outline icon"></i>
            </div>
            <div class="middle aligned content">
              <div class="header">
                Formula Name
              </div>
              <div class="desc">
                Formula Description
              </div>
            </div>
          </div>
          <div class="item">
            <div class="left floated content">
              <i class="star outline icon"></i>
            </div>
            <div class="middle aligned content">
              <div class="header">
                Formula Name
              </div>
              <div class="desc">
                Formula Description
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
