@import url('../../../../Styles/_color.constant.less');

.ui.menu {
  font-size: 0.95rem;
  background-color: @primary;
  &::after {
    content: none;
  }
  // .item {
  //   width: 25%;
  // }
}
.navigation-container {
  display: inline-flex;
  justify-content: center;
  box-shadow: 1px 0px 6px 0px black;
}

.active {
  color: @secondary !important;
  * {
    color: @secondary !important;
  }
}
.four-items {
  .item {
    width: 25%;
  }
}
.three-items {
  .item {
    width: 33.33%;
  }
}
