mat-sidenav {
  min-width: 250px;
  background-color: #fafafa;
}

mat-sidenav-content {
  min-height: 100vh;
}

app-toolbar {
  position: fixed;
  width: 100%;
  // height: 100%
}

app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.outlet-container {
  margin-top: 55px;
  margin-bottom: 75px;
}
.dimmer {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
