<!-- <div class="ui sidebar inverted vertical right menu">
  <a href="#" class="item">خانه</a>
  <a href="#" class="item">تخصص‌ها</a>
  <a href="#" class="item">تنظیمات</a>
</div>
<div class="pusher">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div> -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" position="end">
    <app-sidenav-items [sidenav]="sidenav"></app-sidenav-items>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar [sidenav]="sidenav"></app-toolbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
