<div style="display: flex; flex-direction: column; padding-top: 50px;">
  <p>
    formula works!
  </p>
  <a [routerLink]="['list/all']" routerLinkActive="active">همه</a>
  <a [routerLink]="['list/favorites']" routerLinkActive="active">علاقه‌مندی</a>
  <a [routerLink]="['list/specialties']" routerLinkActive="active">تخصص</a>
  <a [routerLink]="['list/recents']" routerLinkActive="active">اخیر</a>
</div>
<a routerLink="detail/1">فرمول یک</a>

<div [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
